PORT=8080
DB_URL=jdbc:mysql://localhost:3306/sdp_fsad_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=Remyy
JWT_SECRET=4f71a067a99b422a84a6558e6f1a8c3e1e9766bb4f145adcb9e2a39f60af0256
# Add below values in production
# MAIL_USERNAME=
# MAIL_PASSWORD=
# TWILIO_SID=
# TWILIO_TOKEN=
